<!-- image.html -->

{{ if .Get "src" }}
    <!-- Initial variable definitions -->
    {{ $src := .Get "src" }}
    {{ $caption := .Get "caption" }}
    {{ $rescale := .Get "rescale" }}
    {{ $insideContainer := .Get "insideContainer" }}

    <!-- Parameter validation for rescale -->
    {{ if not (findRE "^\\d+(\\.\\d+)?%$" $rescale) }}
        {{ errorf "Invalid rescale value provided: %s" $rescale }}
    {{ end }}

    <!-- Set default values directly -->
    {{ $captionColor := "gray" }}
    {{ with .Get "captionColor" }} {{ $captionColor = . }} {{ end }}

    {{ $captionPosition := "bottom" }}
    {{ with .Get "captionPosition" }} {{ $captionPosition = . }} {{ end }}

    {{ $captionAlignment := "center" }}
    {{ with .Get "captionAlignment" }} {{ $captionAlignment = . }} {{ end }}

    {{ $glowColor := "#FFFFFF" }}
    {{ with .Get "glowColor" }} {{ $glowColor = . }} {{ end }}

    {{ $glowRadius := "5px" }}
    {{ with .Get "glowRadius" }} {{ $glowRadius = . }} {{ end }}

    {{ $glowDirection := "0 0" }}
    {{ with .Get "glowDirection" }} {{ $glowDirection = . }} {{ end }}

    {{ $alt := "Image description" }}
    {{ with .Get "alt" }} {{ $alt = . }} {{ end }}

    <!-- Format <figure> tag based on parameters -->
    {{ $alignItems := "center" }} <!-- Default value -->

    {{ if eq (.Get "position") "left" }}
        {{ $alignItems = "flex-start" }}
    {{ else if eq (.Get "position") "right" }}
        {{ $alignItems = "flex-end" }}
    {{ end }}
    
    <figure style="position: relative; 
                  display: flex; 
                  flex-direction: column; 
                  flex-shrink: 0;
                  align-items: {{ if $insideContainer }}center{{ else }}{{ $alignItems }}{{ end }}; 
                  width: {{ $rescale }};">
    

    <!-- Caption (Top) -->
    {{ if and $caption (eq $captionPosition "top") }}
        <figcaption style="background: none; 
                           border: none; 
                           color: {{ $captionColor }}; 
                           text-align: {{ $captionAlignment }}; 
                           max-width: {{ $rescale }};">
            {{ $caption }}
        </figcaption>
    {{ end }}

    <!-- Image Element -->
    <img src="{{ $src }}" 
    alt="{{ $alt }}" 
    class="lightbox-enabled" 
    style="width: {{ $rescale }};
           height: auto;
           max-width: none;
           box-shadow: {{ $glowDirection }} {{ $glowRadius }} {{ $glowColor }};" />

    <!-- Caption (Bottom) -->
    {{ if and $caption (eq $captionPosition "bottom") }}
        <figcaption style="background: none; 
                           border: none; 
                           color: {{ $captionColor }}; 
                           text-align: {{ $captionAlignment }}; 
                           max-width: {{ $rescale }};">
            {{ $caption }}
        </figcaption>
    {{ end }}

</figure>
{{ end }}
